@model IEnumerable<ClassManagement_ModelLibrary.Class_Model.Country>

@{ 
    ViewData["Title"] = "All Country List";
}


@if (TempData["Data"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Data"]</p>

}

<h5 class="text-uppercase p-2 text-center">List of CountryList</h5>

<p>
    <a onclick="ShowInPopUP('@Url.Action("AddEditview", "Country",null,Context.Request.Scheme)', 'Create New')" class="btn btn-primary">Create New</a>
    @*<a asp-action="AddEditview" asp-controller="Country" class="btn btn-primary"><i class="fa-solid fa-user-plus fa-2xl"></i></a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EditedOn)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.EditedOn)
                    </td>*@
                <td>
                    <a onclick="ShowInPopUP('@Url.Action("AddEditview", "Country",new {Id= item.CountryId },Context.Request.Scheme)', 'Edit')" class="btn btn-primary"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                    @*<a asp-action="AddEditview" asp-controller="Country" class="btn btn-primary" asp-route-id="@item.CountryId"><i class="fa-solid fa-pen-to-square fa-lg"></i></a> |*@
                    <a onclick="ShowModelPopUp('@Url.Action("CountryDetails","Country",new {Id= item.CountryId })', 'Details')" class="btn btn-info"><i class="fa-solid fa-info"></i></a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CountryId"><i class="fa-solid fa-trash fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
